.App {
  footer {
    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    .infobox-container {
      background: rgba(32, 47, 78, 1);
      section {
        max-width: 1120px;
        width: calc(100% - 20px);
        padding: 60px 10px;

        .infobox-wrapper {
          display: flex;
          justify-content: space-between;

          .wrapper {
            width: 33%;

            h2 {
              color: #ffffff;
              margin-bottom: 13px;
            }
            .wrapper {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              width: 100%;
            }
          }
          .infobox {
            &:first-of-type {
              h2 {margin-bottom: 18px;}
              p:first-of-type {
                line-height: 21px;
                margin-bottom: 7px;
              }
            }
            h2 {
              font-size: 24px;
              color: #ffffff;
              text-align: left;
              margin-bottom: 13px;
            }
            p, a {
              color: #ffffff;
              line-height: 30px;
            }
            a {
              display: block;
              width: max-content;
              cursor: pointer;

              &:hover {text-decoration: underline;}
            }
          }
        }
      }
    }
    .logo-container {
      justify-content: center;
      height: 92px;
      background: rgba(32, 47, 78, 1);

      section {
        align-items: center;
        padding: 0 10px;

        img {
          width: 235px;
          height: 53px;
        }
        .divider {
          flex-shrink: 0;
          width: 1px;
          height: 55px;
          background: #797979;
          margin: 0 30px;
        }
        p {
          font-size: 14px;
          color: #ffffff;
        }
      }
    }
    .copyright-container {
      justify-content: center;
      height: 55px;
      background-color: rgba(10, 10, 10, 1);

      section {
        p {
          font-size: 14px;
          color: #ffffff;
          line-height: normal;
          opacity: 0.6;
        }
      }
    }
    .divider {
      width: 100%;
      height: 1px;
      background: #797979;
    }
  }
}

@media (max-width: 767.98px) {
  .App {
    footer {
      margin-top: 0px;
      background: rgba(32, 47, 78, 1);

      .infobox-container {
        section {
          padding: 30px 10px;

          .infobox-wrapper {
            display: flex;
            flex-direction: column;

            .infobox {
              margin-bottom: 30px;

              &:first-of-type {
                h2 {margin-bottom: 10px;}
              }
              h2 {
                font-size: 20px;
                margin-bottom: 6px;
              }
            }
            .wrapper {
              align-items: flex-start;

              h2 {
                font-size: 20px;
                margin-bottom: 6px;
              }
              .wrapper {
                flex-direction: column;

                .infobox {margin-bottom: 0;}
              }
            }
          }
        }
      }
      .logo-container {
        height: auto;

        section {
          padding: 30px 10px;
          img {
            width: 193px;
            height: 43px;
            margin: 0 0 25px;
          }
          .divider {display: none;}
          p {line-height: normal;}
        }
      }
      .copyright-container {
        height: 65px;
        align-items: flex-start;

        section {
          padding: 0 10px;

          p {
            font-size: 14px;
            line-height: normal;
          }
        }
      }
      .divider {
        width: calc(100% - 20px);
        margin: 0 10px;
      }
    }
  }
}
