.App {
  .widkt-container {
    .intro-container {margin-bottom: 200px;}
    .cyan-back {
      .topics-container {
        display: grid;
        grid-template-columns: calc((100% - 120px)/2) calc((100% - 120px)/2);
        grid-template-rows: auto;
        grid-gap: 80px 120px;
        grid-template-areas:
        'title title'
        's1 s2'
        's3 s4'
        's5 s6';

        h2 {grid-area: title;}
        section:nth-of-type(1) {grid-area: s1;}
        section:nth-of-type(2) {grid-area: s2;}
        section:nth-of-type(3) {grid-area: s3;}
        section:nth-of-type(4) {grid-area: s4;}
        section:nth-of-type(5) {grid-area: s5;}
        section:nth-of-type(6) {grid-area: s6;}

        h2 {margin-bottom: -32px;}
        section {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0;
        }
        img {
          width: auto;
          height: 120px;
          border-radius: 0;
          margin-bottom: 23px;
        }
        h3, p {
          width: 100%;
          line-height: 28px;
        }
        &.cyan-back {
          padding-top: 92px;
          padding-bottom: 92px;
          margin-top: -92px;
          margin-bottom: 92px;
        }
      }
    }
    .insights-container {
      .test-name {
        font-weight: 500;
        text-align: right;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .App {
    .widkt-container {
      .intro-container {margin-bottom: 140px;}
      .cyan-back {
        .topics-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          grid-gap: 30px 0;

          img {margin-bottom: 15px;}
          h2 {margin-bottom: 0;}
        }
      }
      .insights-container {
        section {margin-bottom: 30px;}
        .wrapper {
          section {
            margin-bottom: 30px;

            &:last-of-type {margin-bottom: 0;}
          }
        }
      }
    }
  }
}
