body, article, section, header, nav, footer, h1, h2, h3, h4, h5, h6, p, span, ol, ul, input, textarea {
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
